<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lejingda.lahuo">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application>
        <activity android:name=".LHActivity"></activity>

        <!--<receiver android:name=".receiver.ScreenBroadcastReceiver">-->
        <!--<intent-filter android:priority="1000">-->
        <!--<action android:name="android.intent.action.SCREEN_OFF" />-->
        <!--<action android:name="android.intent.action.SCREEN_ON" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->
        <receiver android:name=".widget.WidgetProvider">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_info" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.lejingda.lahuo.widget.action.CLICK" />
            </intent-filter>
        </receiver>

        <service android:name=".service.ClockService" />
        <service android:name=".service.ScreenService" />
    </application>

</manifest>